.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-container {
  display: flex;
}

#candles-container {
  display: flex;
  flex-flow: wrap;
}

#candles-container a {
  text-decoration: none;
}

.candle-card {
  max-height: 350px;
  max-width: 250px;
}

.candle-img {
  width: 225px;
  height: 250px;
  justify-content: left;
}

#filters-container {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.radio-button {
  justify-content: space-around;
}

#navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(42, 43, 44);
  font-size: 1.5em;;
}

#navbar a{
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

#navbar a:hover {
  background-color: black;
}
